<div class="container">
  <mat-card appearance="outlined" class="card-layout">
    <mat-card-header>
      <mat-card-title>Todo List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (selectedIndex >= 0) {
        <div class="error-container">
          <p>You are in Editing Mode...</p>
        </div>
      }

      <div>
        <mat-form-field appearance="outline">
          <mat-label>What to do?</mat-label>
          <input matInput placeholder="What to do?" (keydown.enter)="selectedIndex >= 0 ? updateItem() : save()" [(ngModel)]="description">
          @if (selectedIndex >= 0) {
            <mat-icon matSuffix (click)="updateItem()">save_as</mat-icon>
          } @else {
            <mat-icon matSuffix (click)="save()">save</mat-icon>
          }
        </mat-form-field>

        @for (item of todoList(); track item.id; let i = $index) {
          <div class="listing">
            <div>
              <mat-checkbox [checked]="item.done" (change)="checkmarkChanged(item)" [disabled]="selectedIndex == i">
                <span [ngClass]="{'crossover': item.done}">{{item.description}}</span>
              </mat-checkbox>
            </div>
            @if (selectedIndex != i) {
              <div>
                @if (!item.done) {
                  <mat-icon matSuffix (click)="editItem(item, i)">edit</mat-icon>&nbsp;
                }
                <mat-icon matSuffix (click)="deleteConfirmation(i)">delete</mat-icon>
              </div>
            }
          </div>
        } @empty {
          <div class="error-container">
            <p>No Record added</p>
          </div>        
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
